
<div class="grid grid-cols-5 gap-6 p-4 bg-white rounded-lg shadow">
  <!-- Fecha de inicio -->
  <div class="col-span-2">
    <label for="inicio" class="block text-sm font-medium text-gray-700">Fecha de inicio</label>
    <input
      [value]="inicio()"
      (input)="inicio.set(txtInicio.value)"
      #txtInicio
      type="date"
      id="inicio"
      name="inicio"
      class="mt-1 block w-full rounded-lg border border-gray-300 bg-white p-2 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500"
    />
  </div>

  <!-- Fecha final -->
  <div class="col-span-2">
    <label for="fin" class="block text-sm font-medium text-gray-700">Fecha final</label>
    <input
      [value]="fin()"
      (input)="fin.set(txtfin.value)"
      #txtfin
      type="date"
      id="fin"
      name="fin"
      class="mt-1 block w-full rounded-lg border border-gray-300 bg-white p-2 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500"
    />
  </div>

  <!-- Botón -->
  <div class="flex items-end col-span-1">
    <button
      class="w-full rounded-lg bg-blue-600 text-white px-4 py-2 text-sm font-medium shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-1"
      (click)="renderizarGraficos()">
      Graficar
    </button>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
  <div class="bg-white p-4 rounded-lg shadow min-h-[400px] w-full">
    <h2 class="text-lg font-semibold mb-2">Monto diario</h2>
    <div class="relative h-[300px]">
      <canvas id="montoDiarioChart" class="w-full h-full"></canvas>
    </div>
  </div>
  <div class="bg-white p-4 rounded-lg shadow min-h-[400px] w-full">
    <h2 class="text-lg font-semibold mb-2">Venta por producto</h2>
    <div class="relative h-[300px]">
      <canvas id="ventaProductoChart" class="w-full h-full"></canvas>
    </div>
  </div>
</div>
