<!-- Botón para abrir el modal -->
<div class="grid grid-cols-3 gap-3 items-center">
  <!-- Botón ocupará 1/3 -->
  <button (click)="abrirModal()" class="col-span-1 px-6 py-3 w-64 bg-blue-600 text-white rounded-lg">
    Crear Usuario
  </button>

  <!-- Buscador ocupará 2/3 -->
  <input placeholder="Buscar por nombre..." class="col-span-2 p-2 border rounded w-full" />
</div>

<!-- Modal -->
<div *ngIf="mostrarModal"
  class="fixed inset-0 bg-white/10 backdrop-blur-sm flex items-center justify-center z-50 border-y-gray-400 border">
  <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-2xl relative border-y-gray-400 border">
    <!-- Botón cerrar -->
    <button (click)="cerrarModal()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 text-xl">
      &times;
    </button>

    <!-- Contenido del modal -->
    <h2 class="text-2xl font-semibold mb-6 text-center">Crear Personal</h2>

    <form class="space-y-4">
      <!-- Nombre -->
      <div class="grid grid-cols-1 gap-3">
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="personalModal.nombre" type="text" id="nombre" name="nombre" placeholder="Nombre del Personal"
          class="border bg-transparent placeholder-gray-400 border-gray-500 p-2 rounded w-full" required />
      </div>

      <!-- Apellido -->
      <div class="grid grid-cols-1 gap-3">
        <label for="apellido">Apellido</label>
        <input [(ngModel)]="personalModal.apellido" type="text" id="apellido" name="apellido" placeholder="Apellido del Personal"
          class="border bg-transparent placeholder-gray-400 border-gray-500 p-2 rounded w-full" required />
      </div>

      <!-- Carnet -->
      <div class="grid grid-cols-1 gap-3">
        <label for="carnet">Carnet</label>
        <input [(ngModel)]="personalModal.carnet" type="text" id="carnet" name="carnet" placeholder="Carnet de Identidad"
          class="border bg-transparent placeholder-gray-400 border-gray-500 p-2 rounded w-full" required />
      </div>

      <!-- Rol dinámico -->
      <div class="grid grid-cols-1 gap-3">
        <label for="rol">Rol</label>
        <select id="rol" name="rol" [(ngModel)]="personalModal.idRol"
          class="border bg-transparent placeholder-gray-400 border-gray-500 p-2 rounded w-full" required>
          <option value="" disabled selected>Seleccione un Rol</option>
          <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.nombre }}</option>
        </select>
      </div>

      <!-- Turno dinámico -->
      <div class="grid grid-cols-1 gap-3">
        <label for="turno">Turno</label>
        <select id="turno" name="turno" [(ngModel)]="personalModal.idTurno"
          class="border bg-transparent placeholder-gray-400 border-gray-500 p-2 rounded w-full" required>
          <option value="" disabled selected>Seleccione un Turno</option>
          <option *ngFor="let turno of turnos" [value]="turno.id_turno">{{ turno.descripcion }}</option>
        </select>
      </div>

      <!-- ID Usuario dinámico -->
      <div class="grid grid-cols-1 gap-3">
        <label for="idUsuario">Usuario</label>
        <select id="idUsuario" name="idUsuario" [(ngModel)]="personalModal.idUsuario"
          class="border bg-transparent placeholder-gray-400 border-gray-500 p-2 rounded w-full" required>
          <option value="" disabled selected>Seleccione un Usuario</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.username }}
          </option>
        </select>
      </div>

      <!-- Botón Guardar -->
      <div class="text-center">
        <button (click)="crearPersonal()" class="mt-4 px-6 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="p-6">

  <!-- Tabla -->
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <tr>
          <th class="py-3 px-6 text-left">Id_Personal</th>
          <th class="py-3 px-6 text-left">Nombre</th>
          <th class="py-3 px-6 text-left">Apellido</th>
          <th class="py-3 px-6 text-left">Carnet</th>
          <th class="py-3 px-6 text-left">Fecha de Creación</th>
          <th class="py-3 px-6 text-left">Rol</th>
          <th class="py-3 px-6 text-left">Turno</th>
          <th class="py-3 px-6 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700 text-sm">
        <tr *ngFor="let persona of personal" class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6">{{ persona.id_personal }}</td>
          <td class="py-3 px-6">{{ persona.nombre }}</td>
          <td class="py-3 px-6">{{ persona.apellido }}</td>
          <td class="py-3 px-6">{{ persona.carnet }}</td>
          <td class="py-3 px-6">{{ persona.fecha_creacion }}</td>
          <td class="py-3 px-6">{{ obtenerRol(persona.idRol) }}</td>
          <td class="py-3 px-6">{{ obtenerTurno(persona.idTurno) }}</td>
          <td class="px-6 py-4 whitespace-nowrap space-x-2">
            <!-- Botones de acción (Editar, Eliminar) -->
            <button (click)="editarPersonal(persona)" 
            class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Editar</button>
            <button (click)="eliminarPersonal(persona.id_personal!)"
              class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 transition">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>