<div class="p-6">
    <h2 class="text-2xl font-semibold mb-4">Gestión de Turnos</h2>
  
    <button
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
      (click)="mostrarFormulario = !mostrarFormulario"
    >
      {{ mostrarFormulario ? 'Cancelar' : (turnoEnEdicion ? 'Actualizar turno' : 'Crear nuevo turno') }}
    </button>
  
    <div *ngIf="mostrarFormulario" class="mt-6 space-y-4">
      <input
        class="border p-2 w-full"
        placeholder="Descripción"
        [(ngModel)]="nuevoTurno.descripcion"
      />
  
      <input
        class="border p-2 w-full"
        type="time"
        [(ngModel)]="nuevoTurno.horaEntrada"
      />
  
      <input
        class="border p-2 w-full"
        type="time"
        [(ngModel)]="nuevoTurno.horaSalida"
      />
  
      <button
        class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700"
        (click)="guardarTurno()"
      >
        {{ turnoEnEdicion ? 'Actualizar' : 'Guardar turno' }}
      </button>
    </div>
  
    <table class="w-full mt-8 border">
      <thead class="bg-gray-200">
        <tr>
          <th class="p-2 border">ID</th>
          <th class="p-2 border">Descripción</th>
          <th class="p-2 border">Hora Entrada</th>
          <th class="p-2 border">Hora Salida</th>
          <th class="p-2 border">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of listaTurnos" class="hover:bg-gray-100">
          <td class="p-2 border">{{ t.id_turno }}</td>
          <td class="p-2 border">{{ t.descripcion }}</td>
          <td class="p-2 border">{{ t.horaEntrada | date: 'shortTime' }}</td>
          <td class="p-2 border">{{ t.horaSalida | date: 'shortTime' }}</td>
          <td class="p-2 border space-x-2">

            <button
              class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700 m-auto"
              (click)="eliminarTurno(t.id_turno)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  